.header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #0d47a1;
/* left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1037;position: fixed; */

}